header {
    margin-bottom: 20px;
}

table {
    margin-top: 20px;

    thead {
        tr {
            td:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.notification {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
}

@media(max-width: 780px) {
    .userForm-wrapper {
        padding: 0 25px;
    }
}

@media(max-width: 1024px) {
    .table-container {
        padding: 0 25px;
    }
}

@import "../../node_modules/bulma/bulma.sass";
